{% extends "base.html" %}
{% block title %}
Project List
{% endblock title %}

{% block content %}
        <h1>My Projects</h1>
        {% if project_list %}
    <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for item in project_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
        {% else %}
            <p>You are not assigned to any projects</p>
        {% endif %}
{% endblock %}
